@tailwind utilities;

@layer utilities {
  .-rotate-25 {
    transform: rotate(-25deg);
  }
}

/* Контейнер */
/* .cat-image-container {
  @apply flex-1 overflow-y-auto h-[calc(100vw-0.5rem)] w-full box-border bg-white shadow-md rounded-lg overflow-hidden 
        flex flex-col cursor-pointer;
} */

.cat-image-container {
  @apply flex-1 overflow-y-auto w-full box-border bg-white shadow-md rounded-lg overflow-hidden 
        flex flex-col cursor-pointer;

  /* Высота для портретного режима */
  @media (orientation: portrait) {
    height: calc(100vw - 0.5rem);
  }

  /* Высота для ландшафтного режима */
  @media (orientation: landscape) {
    height: 70vh; /* или задайте фиксированную высоту, если нужно */
    max-width: 70vh;
    margin: 0 auto;
  }
}

/* Область изображения */
.image-wrapper {
  @apply flex-grow flex justify-center items-center relative;
}

/* Базовые стили изображения */
.cat-image {
  @apply w-full h-full object-cover absolute top-0 left-0 transition-opacity duration-500;
}

/* Анимации */
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Водяной знак */
.watermark {
  @apply absolute bottom-0 left-0 w-full text-center text-sm text-gray-950 p-1 
        bg-white bg-opacity-40 z-10;

  /* Высота для портретного режима */

  /* Высота для ландшафтного режима */
  @media (orientation: landscape) {
    display: none;
  }
}

/* Индикатор загрузки */
.loader-indicator {
  @apply absolute bottom-2 right-2 p-1 bg-gray-200 rounded-full;
}

/* Подсказка клика */
.click-hint {
  @apply absolute bottom-10 right-4 transform -translate-x-1/2 -translate-y-1/2 
        text-5xl animate-bounce;
  @media (orientation: landscape) {
    right: 30%;
  }
}

.animated-emoji {
  @apply inline-block transform -rotate-25;
}

/* Анимация подсказки */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
